:root {
    --bg-light: url('assets/images/background/2-light.png');
    --bg-dark: url('assets/images/background/2-dark.png');
    --bg: var(--bg-dark);
    --accent-light: #3C3C3C;
    --accent-dark: #95969b;
    --accent: var(--accent-dark);
    --accent-opaque-light: #3C3C3C88;
    --accent-opaque-dark: #95969b88;
    --accent-opaque: var(--accent-opaque-dark);
}

tr, td, table {
    border: 1px solid;
    border-collapse: collapse;
    padding: 1vh 1vw;
}

table {
    margin-left: auto;
    margin-right: auto;
    justify-content: space-evenly;
}