.top-element {
    width: calc(90vw / 3);
    height: 100%;
    padding-top: 15vh;
    color: white;
    text-decoration: none;
    text-align: center;
    font-size: xxx-large;
}

.top-icon {
    width: 10vw;
}

.icon {
    height: 100vh;
    margin-top: -15vh;
}