.top-element {
    float: right;
    height: 100vh;
    width: 80vw;
    vertical-align: top;
    text-align: center;
}

.top-icon {
    float: left;
    height: 100vh;
    width: 20vw;
}

.text {
    font-size: 60vh;
    vertical-align: top;
    padding-top: 5vh;
}

#icon-image {
    height: 100vh;
    display: flex;
    float: left;
}
