.top-element {
    width: 25vw;
    height: 100%;
    padding-top: 15vh;
    text-align: center;
}

.text {
    font-size: 50vh;
}

#icon {
    height: 100vh;
    margin-top: -15vh;
    float: left;
}
