:root {
    --bg: url('assets/images/background/screenshot_1.png');
}

.text {
    font-size: 3vh;
}

.content-main-info {
    padding-top: 15vh;
    width: 60vw;
    margin-left: auto;
    margin-right: auto;
    /* Note: Things are becoming goofy when resizing to 9:16 aspect ratio */
}

.content-text-boxed {
    background-color: #111111bb;
    border: 10px solid #11111133;
    border-radius: 15px;
    text-align: center;
    margin-bottom: 10vh;
}
