body {
    background-color: black;
    color: white;
    margin: 0;
    padding: 0;
    position: absolute;
}

.highlight {
    background-color: navy;
}

.top {
    width: 100vw;
    height: 7vh;
}

.content {
    width: 100vw;
    height: 93vh;
}

.imprint {
    width: 100vw;
    height: 20vh;
}
