body {
    font-family: Arial, serif;
    background-color: black;
    color: white;
    margin: 0;
    padding: 0;
    position: absolute;
}

p {
    padding: 0;
    margin: 0;
}

h1 {
    padding: 0;
    margin: 0;
}

iframe {
    border: none;
}

a:link {
    color: #dddddd;
    text-decoration: none;
}

a:visited {
    color: #dddddd;
    text-decoration: none;
}

a:hover {
    color: white;
    text-decoration: underline;
}

a:active {
    color: white;
    text-decoration: none;
}

/* TODO: Navbar bei nur 1920x1080 fixen. */
.top {
    width: 100vw;
    height: 100px;
    display: flex;
    justify-content: space-evenly;
    background-color: #111111;
    overflow: hidden;
    border: none;
}

.content {
    min-height: calc(100vh - 100px);
    width: auto;
    /* TODO: Fix height when on mobile view. */
    background-color: #111111;
    background-image: url('assets/images/minecraft.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    user-select: none;
}

.content-main-info {
    padding-top: 15vh;
    width: 60vw;
    margin-left: auto;
    margin-right: auto;
    /* Note: Things are becoming goofy when resizing to 9:16 aspect ratio */
}

.content-text-boxed {
    font-size: 3vh;
    background-color: #111111bb;
    border: 10px solid #11111133;
    border-radius: 15px;
    text-align: center;
    margin-bottom: 10vh;
}

.content-text-heading {
    font-size: 7vh;
}

.imprint {
    width: 100vw;
    height: 20vh;
    background-color: #111111;
    color: #444444;
}

/* Debugging purposes :D */
.highlight {
    background-color: navy;
}
