body {
    background-color: black;
    color: white;
    margin: 0;
    padding: 0;
    position: absolute;
}

p {
    padding: 0;
    margin: 0;
}

h1 {
    padding: 0;
    margin: 0;
}

iframe {
    border: none;
}

a:link {
    color: #dddddd;
    text-decoration: none;
}

a:visited {
    color: #dddddd;
    text-decoration: none;
}

/* Link becomes brighter when hovering */
a:hover {
    color: white;
    text-decoration: underline;
}

.bg {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #111111;
}

.top {
    width: 100vw;
    height: 100px;
    display: flex;
    justify-content: space-evenly;
    background-color: #111111;
    overflow: hidden;
    border: none;
}

.content {
    min-height: calc(100vh - 100px);
    width: auto;
    user-select: none;
}

.text {
    font-family: Arial, sans-serif;
    font-size: 2vh;
}

.imprint {
    width: 100vw;
    height: 20vh;
    margin-bottom: -1vh;
    background-color: #111111;
    color: #444444;
}

/* Debugging purposes :D */
.highlight {
    background-color: navy;
}

.content-image {
    width: 30vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.3vh;
    color: #cccccc;
}
