h1, h2 {
    text-decoration: #10446f underline;
}

.bg {
    background-image: url('../../../assets/images/background/screenshot_3.png');
}

.content-shading-wikipedia {
    text-align: center;
    margin: 0 10vw 10vh 10vw;
    padding: 1vh 1vh 1vh 1vh;
    background: #10446f88;
    border-radius: 7px;
}

.content-shading-text {
    background-image: none;
}

.content-shading-image {
    margin-top: 5vh;
}
