body {
    background-color: #111111;
    background-image: url("https://images4.alphacoders.com/112/thumb-1920-1127551.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.game-element {
    display: flex;
    margin: auto;
}

#score {
    height: 15vh;
    font-size: 6vh;
    margin: 0 auto;
}

#board {
    width: 85vh;
    height: 85vh;
}

.snake-funfact {
    width: 25vw;
    padding: 15vh 1vh 1vh 1vh
}

.snake-funfact-image {
    width: 25vw;
    margin-bottom: 1vh;
    margin-left: 10px;
    border-radius: 20px
}

.snake-funfact-text {
    font-size: 5vh;
    background: #111111cc;
    border-radius: 10px;
    padding: 10px 20px;
    margin-left: 10px;
}

