.imprint {
    height: 100vh;
}

.text {
    font-size: 7vh;
}

.imprint-gh {
    padding-top: 10vh;
    display: flex;
    justify-content: center;
}

.imprint-gh-icon {
    margin-right: 1vw;
    width: 2vw;
}

.imprint-gh-issues {
    padding-top: 5vh;
}

.imprint-copyright {
    text-align: center;
    padding-top: 4vh;
}

#light, #dark {
    text-align: center;
    user-select: none;
}

#light:hover, #dark:hover {
    color: #dddddd;
    text-decoration: underline;
}